<nav class="bg-dark text-white vh-100 p-3" style="width:260px;">

    <h4 class="mb-4">
        <i class="fa-solid fa-server"></i>
        JBOD Validation
    </h4>

    <!-- Dashboard -->
    <h6 class="text-secondary mt-3">Dashboard</h6>

    <a class="nav-link text-white" href="/">
        <i class="fa-solid fa-gauge"></i>
        Dashboard
    </a>

    <!-- Asset -->
    <h6 class="text-secondary mt-4">Asset Management</h6>

    <a class="nav-link text-white" href="/model/">
        <i class="fa-solid fa-box"></i>
        Models
    </a>

    <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-microchip"></i>
        Firmware
    </a>

    <!-- Validation -->
    <h6 class="text-secondary mt-4">Validation</h6>

    <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-list-check"></i>
        Test Case
    </a>

    <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-layer-group"></i>
        Test Plan
    </a>

    <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-play"></i>
        Execute
    </a>

    <!-- Report -->
    <h6 class="text-secondary mt-4">Reports</h6>

    <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-file-lines"></i>
        Report
    </a>

    <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-terminal"></i>
        Logs
    </a>

    <!-- System -->
    <h6 class="text-secondary mt-4">System</h6>

    <a class="nav-link text-white" href="/admin/">
        <i class="fa-solid fa-user-gear"></i>
        Administration
    </a>

</nav>