{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
    <i class="fa-solid fa-gauge-high"></i>
    Dashboard
</h2>

<div class="row">

    <div class="col-md-3 mb-3">
        <div class="card border-primary shadow-sm">
            <div class="card-body text-center">
                <h5>Models</h5>
                <h2>{{ model_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card border-success shadow-sm">
            <div class="card-body text-center">
                <h5>Firmware</h5>
                <h2>{{ firmware_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card border-warning shadow-sm">
            <div class="card-body text-center">
                <h5>Test Cases</h5>
                <h2>{{ testcase_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card border-danger shadow-sm">
            <div class="card-body text-center">
                <h5>Jobs</h5>
                <h2>{{ job_count }}</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}